// Импортируем файлы

@import '_null';
@import '_var';

//  --------------------------

// Подключенные шрифты

@import url(https://fonts.googleapis.com/css?family=Inter:200,400,regular,700,900&display=swap);
@import url(https://fonts.googleapis.com/css?family=Barlow:regular,600&display=swap);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:regular,500,600,700,800,900&display=swap);

// ----------------------

.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	background: #E5E5E5;
}

.content {
	flex: 1 1 auto;
	max-width: 1440px;
	margin: 0 auto;
	background-color: #ffffff;
}

.container {
	color: $main_font_color;
}

.header {
	&__body {
		padding: 47px 100px 91px 95px;
	}
}

.menu-header {
	&__row {
		display: flex;
		justify-content: space-between;
	}

	&__title {
		@include main_title;
	}

	&__nav {
		display: flex;
		flex: 0 0 calc(1440px - 95px - 180px - 389px - 100px);
		justify-content: space-between;
		align-items: center;
	}
}

.nav {
	font-family: $inter;
	font-size: 20px;
	line-height: 24px;
}

.nav-header {
	&__link {
		&_very-bold {
			font-weight: $bold_700;
		}
	}
}

.footer {
	&__body {
		padding: 0px 0px 0px 0px;
		max-width: calc(1440px - 99px - 100px);
		margin: 0 auto;
		color: $footer_font_color;
	}

	&__row {
		display: flex;
		justify-content: space-between;
	}

	// &__column {}

	&__item {
		&_archiweb {
			max-width: 287px;
			margin: 0px 140px 0px 0px;
		}

		&_articlers {
			max-width: 201px;
			margin: 0px 89px 0px 0px;
		}

		&_links {
			max-width: 65px;
			margin: 0px 165px 0px 0px;
		}

		&_location {
			max-width: 295px;
			margin: 0px 0px 44px 0px;
		}
	}

	&__title {
		margin: 57px 0px 18px 0px;
		@include secondary_footer_title;
		&_main-title {
			@include main_title;
			margin: 47px 0px 7px 0px;
		}
	}

	&__text {
		font-family: $inter;
		font-size: 17px;
		line-height: 29px;
		margin: 0px 0px 50px 0px;
		// color: red;
	}

	&__icon {
		position: relative;
		display: flex;
		justify-content: space-between;
		max-width: 141px;
	}

		&__icon img {
			width: 26px;
			height: 26px;
		}

	&__list {
		font-family: $inter;
		font-size: 17px;
		line-height: 21px;
		&_articles li {
			margin: 0px 0px 16px 0px;
		}

		&_articles li:last-child {
			margin: 0px;
		}

		&_links li {
			margin: 0px 0px 9px 0px;
		}

		&_links li:last-child {
			margin: 0px;
		}
	}

	// &__map {}
}

.footer .container {
	background-color: #2E2F32;
	max-width: 1440px;
	margin: 0 auto;
}

.icon {
	&__social-network {
		width: 26px;
		height: 26px;
	}
}

.preview {
	position: relative;
	&__body {
		position: absolute;
		top: 95px;
		left: 0;
		max-width: 691px;
		background: linear-gradient(91.1deg, rgba(244, 246, 245, 0.9) -7.89%, rgba(255, 255, 255, 0.9) 132.55%);
	}

	&__slogan {
		max-width: 436px;
		margin: 0px 155px 0px 100px;
		padding: 138px 0px 139px 0px;
	}

	&__title {
		margin: 0px 0px 10px 0px;
	}

	&__text {
		font-family: $inter;
		font-weight: 200;
		font-size: 32px;
		line-height: 42.35px;
	}

	&__image-house {
		text-align: right;
	}

	&__vectors {
		position: absolute;
		top: 683px;
		left: 1278px;
		display: flex;
		justify-content: space-between;
		max-width: 162px;
		background-color: rgba(244, 246, 245, 0.7);
	}

	&__left-vector {
		margin: 16px 25px 16px 33px;
	}

	&__right-vector {
		margin: 16px 33px 16px 25px;
	}
}

.our-services {
	background-color: rgba(37, 77, 77, 0.2);

	&__body {
		max-width: calc(1440px - 176px - 177px);
		margin: 0 auto;
		padding: 0px 0px 65px 0px;
	}

	&__title {
		text-align: center;
		padding: 16px 0px 45px 0px;
	}

	&__row {
		display: flex;
		margin: 0px -152px;
	}

	&__column {
		flex: 0 1 calc(100% / 3);
		padding: 0px 152px;
	}

}

.item-our-services {
	&__title {
		font-family: $playfair_display;
		font-size: 27px;
		line-height: 32px;
		font-weight: 900;
		margin: 0px 0px 9px 0px;
		text-align: center;
	}

	&__text {
		font-family: $playfair_display;
		font-size: 16px;
		line-height: 19px;
		text-align: center;
	}
}

.item-our-services {
	&__green-cicrcle {
		background-color: #254D4D;
		max-width: 103px;
		height: 103px;
		border-radius: 50%;
		position: relative;
		margin: 0 auto;
	}
}

.green-cicrcle {
	&__document {
		position: absolute;
		top: calc(103px / 2);
		left: calc(103px / 2);
		transform: translate(-50%, -50%);
	}

	&__corner {
		position: absolute;
		top: 24px;
		left: 55px;
	}

	&__small-string {
		position: absolute;
		top: 43.11px;
		left: 38.59px;
	}

	&__big-string-1 {
		position: absolute;
		top: 54.02px;
		left: 38.59px;
	}

	&__big-string-2 {
		position: absolute;
		top: 64.94px;
		left: 38.59px;
	}

	&__house {
		position: absolute;
		top: 24px;
		left: 23px;
	}

	&__house-door {
		position: absolute;
		top: 51.29px;
		left: 41.89px;
	}

	&__pen-rectangle {
		position: absolute;
		top: 51.79px;
		left: 51.49px;
	}

	&__pen-stylus {
		position: absolute;
		top: 24.76px;
		left: 20px;
	}

	&__pen-strip {
		position: absolute;
		top: 24.76px;
		left: 20px;
	}

	&__pen-circle {
		position: absolute;
		top: 43.68px;
		left: 42.04px;
	}
}

.about-us {
	&__body {
		padding: 76px 64px 95px 100px;
	}

	&__row {
		display: flex;
	}

	&__image {
		margin: 0px 85px 0px 0px;
		flex: 0 0 735px;
	}

	&__paragraph {
		flex: 1 1 auto;
	}

	&__title {
		margin: 0px 0px 27px 0px;
	}

	&__text {
		font-family: $playfair_display;
		font-size: 31px;
		line-height: 36px;
		margin: 0px 0px 36px 0px;
	}

	&__lower-title {
		font-family: $inter;
		font-weight: $bold_600;
		font-size: 24px;
		line-height: 29px;
	}
}

.our-projects {
	&__body {
		margin: 0px 100px;
		padding: 0px 0px 90px 0px;
	}

	&__menu {
		margin: 0px 0px 71px 0px;
	}

	// &__project-catalog {}
}

.menu-our-projects {
	&__row {
		display: flex;
		justify-content: space-between;
	}

	// &__title {}

	&__nav {
		display: flex;
		flex: 0 0 calc(1440px - 100px - 307px - 355px - 100px);
		justify-content: space-between;
		align-items: center;
	}
}

.nav-our-projects {
	&__link {
		&_bold {
			font-weight: $bold_600;
		}
	}
}

.project-catalog {
	&__row {
		display: flex;
		flex-wrap: wrap;
		margin: 0px -52px;
	}
}

.item-project-catalog {
	flex: 0 1 calc(100% / 3);
	padding: 0px 52px;
	&_high-level {
		margin: 0px 0px 85px 0px;
	}

	&__image {
		margin: 0px 0px 13px 0px;
		&_low-level {
			margin: 0px 0px 12px 0px;
		}
	}

	&__text {
		font-family: $playfair_display;
		font-size: 18px;
		line-height: 21px;
		max-width: 178px;
		margin: 0 auto;
		text-align: center;
	}
}

.testimonial {
	&__body {
		margin: 0px 100px 0px 100px;
		padding: 0px 0px 66px 0px;
	}

	&__title {
		color: #000000;
		text-align: center;
		margin: 0px 0px 78px 0px;
	}

	&__box-row {
		margin: 0px 0px 72px 0px;
	}

	&__row {
		display: flex;
		justify-content: space-between;
		max-width: 1152px;
	}

	// &__character {}

	&__dot-scroll {
		display: flex;
		max-width: 76px;
		margin: 0 auto;
		justify-content: space-between;
	}
}

.character {
	&__row {
		display: flex;
	}

	&__photo {
		margin: 0px 29px 0px 0px;

		&_abram {
			margin: 0px 21px 0px 0px;
		}
	}

	&__description {
		align-self: center;
	}

	&__fullname {
		font-family: $playfair_display;
		font-size: 28px;
		line-height: 33px;
		font-weight: $bold_700;
		margin: 0px 0px 16px 0px;
	}

	&__text {
		font-family: $playfair_display;
		font-size: 17px;
		line-height: 20px;
		max-width: 307px
	}
}

.title {
	@include secondary_title;
}

a {
	color: $main_font_color;
}

footer a {
	color: #ffffff;
}
